.app {
  height: 100%;
  width: 100%;
}

.app h1, .app h2 {
  text-align: center;
}

.appContent {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.clockContainer {
  width: 40vw;
  margin: 1rem auto;
}

.body {
  margin-top: 5rem;
}
