.timer {
  width: 100%;
  height: 100%;

  transform: scaleX(-1);
}

.timerCircle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.timerPathElapsed {
  stroke-width: .4em;
  stroke: grey;
}

.pathRemaining {
    /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.remainingPathColor {
  stroke: var(--countdown-color);
}
